@mixin type-text-small-text
{
	font-family: AvenirNext;
	font-weight: 400;
	text-transform: none;
	font-size: 10em;
	letter-spacing: 0em;
	line-height: 1.33;
	color: rgba(74,74,74,1);
}

@mixin type-form-button-label
{
	font-family: AvenirNext;
	font-weight: 700;
	text-transform: none;
	font-size: 14em;
	letter-spacing: 0em;
	color: rgba(74,74,74,1);
}

@mixin type-form-button-label-disabled
{
	font-family: AvenirNext;
	font-weight: 700;
	text-transform: none;
	font-size: 14em;
	letter-spacing: -0.38em;
	color: rgba(187,187,187,1);
}

@mixin type-text-body
{
	font-family: AvenirNext;
	font-weight: 400;
	text-transform: none;
	font-size: 14em;
	letter-spacing: 0em;
	line-height: 1.3;
	color: rgba(74,74,74,1);
}

@mixin type-form-input-disabled
{
	font-family: AvenirNext;
	font-weight: 400;
	text-transform: none;
	font-size: 14em;
	letter-spacing: 0em;
	color: rgba(187,187,187,1);
}

@mixin type-form-input
{
	font-family: AvenirNext;
	font-weight: 400;
	text-transform: none;
	font-size: 14em;
	letter-spacing: 0em;
	color: rgba(74,74,74,1);
}

@mixin type-form-legend
{
	font-family: AvenirNext;
	font-weight: 500;
	text-transform: none;
	font-size: 16em;
	letter-spacing: 0em;
	color: rgba(74,74,74,1);
}

@mixin type-small-text-fff-italic
{
	font-family: HelveticaNeue-Italic;
	font-weight: 400;
	text-transform: none;
	font-size: 16em;
	letter-spacing: 0em;
	color: rgba(255,255,255,1);
}

@mixin type-text-introduction-text
{
	font-family: AvenirNext;
	font-weight: 400;
	text-transform: none;
	font-size: 18em;
	letter-spacing: 0em;
	line-height: 1.31;
	color: rgba(74,74,74,1);
}

@mixin type-note-style
{
	font-family: IBMPlexMono;
	font-weight: 400;
	text-transform: none;
	font-size: 18em;
	letter-spacing: 0em;
	color: rgba(255,6,37,1);
}

@mixin type-nido-corvo-styles-nav-avenir-next-18pt
{
	font-family: AvenirNext;
	font-weight: 400;
	text-transform: none;
	font-size: 18em;
	letter-spacing: 0em;
	color: rgba(51,51,51,1);
}

@mixin type-text-h4
{
	font-family: AvenirNext;
	font-weight: 700;
	text-transform: none;
	font-size: 20em;
	letter-spacing: 0em;
	color: rgba(74,74,74,1);
}

@mixin type-markup-note-style
{
	font-family: HelveticaNeue-Italic;
	font-weight: 400;
	text-transform: none;
	font-size: 20em;
	letter-spacing: 0em;
	color: rgba(125,125,125,1);
}

@mixin type-text-h3
{
	font-family: AvenirNext;
	font-weight: 700;
	text-transform: none;
	font-size: 24em;
	letter-spacing: 0em;
	color: rgba(74,74,74,1);
}

@mixin type-text-quote
{
	font-family: Palatino-Italic;
	font-weight: 400;
	text-transform: none;
	font-size: 24em;
	letter-spacing: 0em;
	line-height: 1.29;
	color: rgba(74,74,74,1);
}

@mixin type-nido-corvo-styles-body-large-avenir-next-24px-light
{
	font-family: AvenirNext;
	font-weight: 400;
	text-transform: none;
	font-size: 24em;
	letter-spacing: 0em;
	color: rgba(51,51,51,1);
}

@mixin type-nido-corvo-styles-body-large-avenir-next-24px-333
{
	font-family: AvenirNext-DemiBold;
	font-weight: 400;
	text-transform: none;
	font-size: 24em;
	letter-spacing: 0em;
	color: rgba(51,51,51,1);
}

@mixin type-text-h2
{
	font-family: AvenirNext;
	font-weight: 700;
	text-transform: none;
	font-size: 30em;
	letter-spacing: 0em;
	color: rgba(74,74,74,1);
}

@mixin type-text-h1
{
	font-family: AvenirNext;
	font-weight: 700;
	text-transform: none;
	font-size: 36em;
	letter-spacing: 0em;
	color: rgba(74,74,74,1);
}

@mixin type-nido-corvo-styles-big-heading-avenir-next-96px
{
	font-family: AvenirNext;
	font-weight: 400;
	text-transform: none;
	font-size: 96em;
	letter-spacing: 0em;
	line-height: 1.02;
	color: rgba(51,51,51,1);
}
