// :root {
//  // some stuff 
// }



.ilcorvo-section,
.ilnido-section {

  a {
      text-decoration: none;
    }
  }

  // Use the Avenir Next family:
  // font-family: 'Avenir Next Pro Bold'
  // font-family: 'Avenir Next Pro Regular'
  // font-family: 'Avenir Next Pro Medium'
  // font-family: 'Avenir Next Pro Light'

  h1, h2, h3 {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    visibility: visible;
    font-weight: 300;
    letter-spacing: 0.45px;
    word-spacing: 0.5px;
  }

  .fonts-loaded {
  
    h1, h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    }

    h3 {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 900;
    }
}