.tagline {
  * + * {
    color: $nido-white;
  }

  .click {
    background-color: transparentize($text-color, 0.2);
    border: solid 3px $nido-white;
    list-style-type: none;
    text-align: center;
    width: 65%;

    a {
      color: $nido-white;
      display: block;
      padding: var(--s1);
    }
  }
}
