//
// Content Section / Covid response Section
//

.response {
  display: block;
  @media screen and (min-width: $medium-screen) {
    @include defineGrid(
      // $columns: repeat(auto-fit, minmax(414px, 1fr)),
      $columns: repeat(auto-fit, minmax(10vw, 1fr)),
      // $row-args: repeat(auto-fit, minmax(100px, 1fr)),
      $row-gap: var(--s1),
      $column-gap: var(--s1)
    );
  }

  ul:last-child {
    background-color: $in-honeydew;
  }

  p {
    padding-left: var(--s2);
  }

  h2 {
    @media screen and (max-width: $medium-screen) {
      @include easyPadMarg($spacer: padding, $b-start: var(--s1), $b-end: var(--s1), $in-start: 0, $in-end: 0);
      line-height: var(--s2);
    }

    @media screen {
      @include easyPadMarg($spacer: padding, $b-start: var(--s1), $b-end: var(--s1), $in-start: var(--s1), $in-end: var(--s1));
    }
    background-color: $in-yellow;
    font-size: clamp(var(--s1), 2.5vw, var(--s3));
    font-weight: 400;
    line-height: var(--s1);
  }

  h3,
  h4 {
    font-size: clamp(var(--s0), var(--s1), var(--s2));
    grid-column: 2 / 3;
    line-height: var(--s1);
    margin-top: var(--s2);

    @media screen and (min-width: $medium-screen) {
      margin: 0;
    }
  }

  ul {
    grid-column: 3 / 5;
    margin: 0;
    padding: 0;

    li {
      // animation: easy-hover 100ms reverse fill-mode;
      list-style: none;

      &:hover {
        animation: 500ms forwards easy-hover ;
        
      }
    }
  }
}

@keyframes easy-hover {
  from {
    background-color: #fff;
  }
  to {
    background-color: $in-honeydew
  }
}
