//
// Content Section / Covid response Section
//

.response {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: var(--s1);

  p {
      padding-left: var(--s2);
  }

  h3, h4 {
    grid-column: 2 / 3;
  }

  ul {
    grid-column: 3 / 5;
    margin: 0;
    padding: 0;

    li {
      list-style: none;  
    }
  }
}