//
// Content Section / Covid response Section
//

.response {
  display: block;
  @media screen and (min-width: $medium-screen) {
    @include defineGrid(
    // $columns: repeat(auto-fit, minmax(414px, 1fr)),
    $columns: repeat(auto-fit, minmax(10vw, 1fr)),
    // $row-args: repeat(auto-fit, minmax(100px, 1fr)),
    $row-gap: var(--s1)
  );  
  }
  

  p {
      padding-left: var(--s2);
  }

  h2 {
    font-size: clamp(var(--s1), 2.5vw, var(--s3));
  }

  h3, h4 {
    grid-column: 2 / 3;
    font-size: clamp(var(--s0), var(--s1), var(--s2));
  }

  ul {
    grid-column: 3 / 5;
    margin: 0;
    padding: 0;

    li {
      list-style: none;  
    }
  }
}