// Il Corvo Color Set

$ic-blue:  hsl(199, 97%, 88%);

// Il Nido Color Set

$in-yellow:  hsl(60, 88%, 94%);

// Global & Shared Colores

$text-color: hsl(0, 0%, 20%);

// Borders:
$border-color: $text-color;
// basic border / eyebrow for the nav items
@mixin navBorder {
  border: 4px solid $border-color;
}