.ilnido-nav {
  ul {
    display: flex;
    list-style: none;
    // height: 3.4375rem;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    li {
      border-top: 4px solid #333;
      padding: 1.14rem;
    }
  }
}