.ilnido-nav {
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    li {
      @include media('landscape') {
        padding: 1ex 1.14em;
      }
      border-top: 4px solid #333;
      padding: 1.14em;
    }
  }
}