@import 'vendor/normalize';
@import 'vendor/include_media';
@import 'breakpoints';
@import 'color';
@import 'type';
@import 'functions';
@import 'patternBolt';
@import 'mixins';
@import 'grid';
@import 'nav';

@viewport {
  width: device-width;
}

:root {
  color: $text-color;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 100%;
}

.fonts-loaded {
  font-family: 'Nunito Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  // height: 99vh;
}

a {
  color: hsl(0, 0%, 20%);
  display: block;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

main {
  // background: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"), url('./../img/firePlaceCold.smaller.jpg') no-repeat 50% 32vh;
  // display: block;
}

@include feature-support(display, grid, main, display, grid);

.ilcorvo {
  background-color: $ic-blue;
}

.ilnido {
  background-color: $in-yellow;

  .ilnido-section {
    padding-top: 25vh;

    &__logo {
      h1 {
        height: 0;
      }

      img,
      svg {
        //padding-left: 2em;
        width: calc(100vw - 4em);
      }
    }

    &__content {
      // some stuff here.
    }
  }
}

footer {
  background: $text-color;
  padding: 1.25em 0;
  position: relative;
  overflow: auto;
  top: 22vh;
}

address {
  margin: 3ex;
}

.main-background {
  @include pb(
    'lines-45-c',
    8px,
    $in-yellow,
    hsla(0, 0%, 13%, 0.418),
    0.75,
    'mask'
  );
  height: 64vh;
  left: 0;
  min-height: 640px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 36vh;
  z-index: -9000;

  &__instaFeed {
    left: -75%;
    height: calc(100vmax - 10em);
    position: relative;
  }
}
// set up some media queries and then move them to a partial
