@import "vendor/normalize";
@import "vendor/include_media";
@import "breakpoints";
@import "type";
@import "color";
@import "functions";
@import "mixins";
@import "grid";
@import "nav";


@viewport {
  width: device-width;
}

:root {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 100%;

}
* { 
  box-sizing: border-box; 
}

body {
  font-size: 1em;
  height: 99vh;
}

a {
  color: hsl(0, 0%, 20%);
  display: block;
}

main {
display: block;
}

@include feature-support(display, grid, main, display, grid);

.ilcorvo {
  background-color: hsl(14, 100%, 88%);
}

.ilnido {
  background-color: hsl(61, 100%, 90%);

  .ilnido-section {
    padding-top: 28vh;
  }
}

footer {
  background: hsla(0, 33%, 8%, 0.85);
  height: 10rem;
  overflow: auto;
}

address {
margin: 3ex;
}


.main-background {
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 40vh;
  z-index: -9000;

  &__instaFeed {
    //background-size: cover;
    filter: grayscale(1);
    height: 100vmax;
  }
}
// set up some media queries and then move them to a partial



